@namespace MudBlazor

@inherits MudComponentBase

@*this makes dialog inlineable, it will only render inside a MudDialogInstance*@
@if (!IsInline)
{
    <MudFocusTrap DefaultFocus="DefaultFocus" AutoRestoreFocus="AutoRestoreFocus" ParentMudFocusTrap="ParentMudFocusTrap">

        <div @attributes="UserAttributes" class="@ContentClassname" style="@ContentStyle">
            <CascadingValue Value="true" IsFixed Name="IsNested">
                @DialogContent
            </CascadingValue>
        </div>

        @if (DialogActions != null)
        {
            <div class="@ActionClassname">
                @DialogActions
            </div>
        }

    </MudFocusTrap>
}
